.navMenu {
  display: flex;
  font-size: 1rem;
  gap: 2rem;
}

.navMenu a {
  color: #fff;
}
.navMenu li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navMenu li svg {
  font-size: 3rem;
  color: #fff;
}

.menuIcon svg {
  font-size: 3rem;
  color: #fff;
  display: none;
}

@media only screen and (max-width: 600px) {
  .navMenu {
    display: none;
  }
  .menuIcon svg {
    display: block;
  }
}
