.mealDetail {
  position: relative;
}

.mealDetail h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}

.bg {
  height: 50vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)),
    url("../../assets/pexels-vincent-ma-janssen-1310777.jpg") center/cover
      no-repeat fixed;
}

.icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon div {
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.icon p {
  color: #fff;
}

.icon svg {
  font-size: 3rem;
  color: red;
  transition: all 0.3s;
}

.icon div:hover {
  background-color: red;
}

.icon div:hover svg {
  color: #fff;
}
