.mealEquipment {
  font-size: 2rem;
  width: 80%;
  margin: 5rem auto;
}

.container {
  width: 70%;
}

.inputsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #999;
}
.active {
  background-color: var(--clr-primary);
}

.view span {
  width: 5rem;
  text-align: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-top: 3rem;

  justify-content: flex-start;
}

.list {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
