.notFound {
  height: 85vh;
  background-color: #e2e2e2;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.content svg {
  font-size: 10rem;
}

.content p {
  font-size: 3rem;
}
