.btn {
  background-color: var(--clr-primary);
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--clr-primary-shade);
}

.btn:disabled {
  background-color: #999;
  cursor: not-allowed;
}
