.loginPage {
  height: 90vh;
  background-color: #e2e2e2;
  padding: 8rem;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  background-color: #c2b2b2;
}

.container form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container form h3 {
  text-align: center;
  font-size: 2rem;
}

.imgBox {
  flex: 2;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .loginPage {
    padding: 6rem 3rem;
  }
}
