@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  --clr-primary: #ffe194;
  --clr-primary-shade: #fac849;
  --clr-secondary: #016a70;
  --clr-secondary-shade: #024446;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  padding: 0rem;
  font-weight: 400;
  line-height: 1.7;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.error {
  background-color: red;
  color: #fff;
  /* display: inline-block; */
  padding: 1rem;
  font-size: 1.6rem;
  margin: 0 auto;
  width: 50rem;
  text-align: center;
}

.loader {
  text-align: center;
  font-size: 1.6rem;
  background-color: chartreuse;
  padding: 1rem;
  margin: 0 auto;
  width: 30rem;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
